###### November 14, 2019
# Literals, Operators and Variables

In declaring variables in python, omit the declaration of data types.
Instead of:

In [3]:
int x = 0
print(x)

SyntaxError: invalid syntax (<ipython-input-3-12ae0cb0bf9c>, line 1)

omit declaration, therefore:

In [4]:
x = 0
print(x)

0

#### Data Types:
Integer Float Char/String

New data types in python:
Complex Boolean

### "TYPE" Keyword

To identify/output the data type of a variable, use this keyword. Sample:

In [5]:
a = 3
type(a)

int

In [6]:
value = 2+3j
type(value)

complex

In [7]:
value2 = True
type(value2)

bool

In [8]:
value3 = 'Hello World'
type(value3)

str

In [9]:
value4 = [1,2,3,4,5]
type(value4)

list

In [10]:
value5 = {1,2,3,4,5}
type(value5)

set

In [11]:
value6 = (1,2,3,4,5,6)
type(value6)

tuple

### Defining multiple variables in a single line

This is possible, although the number of variables must be equal to the number of values assigned. Seperate variables and values with a comma (,)

In [12]:
a = 5
b = 3
print(a+b)

8

In [13]:
a, b = 5, 3
print(a+b)

8

In [ ]:
number = int(input('Enter a number: '))

# ACTIVITY

Refer to Notebook: JULONGBAYAN_LABACT2